[user]
	email = fagci.nsk@gmail.com
	name = Mikhail Yudin
	username = fagcinsk

[github]
	user = fagcinsk

[core]
  editor = vim
  quotepath = false

[pull]
	rebase = true

[branch "master"]
	rebase = true

[push]
	default = current

[branch]
  autosetuprebase = always

