[user]
	email = fagci.nsk@gmail.com
	name = Mikhail Yudin
	username = fagci

[github]
	user = fagci

[core]
	editor = nvim
	quotepath = false

[commit]
    template = ~/.gitmessage

[pull]
	rebase = true

[branch "master"]
	rebase = true

[push]
	default = current

[branch]
	autosetuprebase = always

[credential]
	helper = store
